#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}



.favMovieList {
  display: flex;
  justify-content: space-between;

}
li {
  /* color: red; */
  padding: 0 2em;

}

/* .rightList {
  display: flex;
  justify-content: flex-end;
} */

.mainDiv {
  /* display: flex;
  justify-content: space-between; */
  display: flex;
  justify-content: space-between;

}
aside {
  flex-grow: 1;
}

section {
  flex-grow: 2;

}

.favText {
  font-size: 0.8em
}